<!DOCTYPE html>
<html lang="en">
<head>
<title>#[%= .id %] - [%= .test.title %] - YAML Test Matrix</title>
<meta charset='utf-8'>
<link rel="stylesheet" type="text/css" href="../css/yaml.css">
<link rel="stylesheet" type="text/css" href="../css/matrix.css">
<link rel="icon" type="image/x-icon" href="http://www.yaml.io/favicon.ico">
</head>
<body>

<h2><a href="../index.html">YAML Test Matrix</a></h2>
<h3>Test <a href="https://github.com/yaml/yaml-test-suite/blob/master/test/[%= id %].tml">#[%= .id %]</a> - [%= .test.title %]</h3>

<div class="framework" id="yaml"><h3><a href="#yaml">YAML</a></h3><pre>[%= .yaml %]</pre></div>
<div class="framework" id="events"><h3><a href="#events">Expected Events</a></h3><pre>[%= .events %]</pre></div>
<div class="framework" id="json"><h3><a href="#json">Expected JSON</a></h3>
<pre>[%loop .json_lines %][%= _ %]<br>[%/loop %]</pre>
</div>
<hr style="clear: both;">
[%each .test.frameworks %]
<div class="framework" id="[%= __key__ %]">
<h3><a href="#[%= __key__ %]">[%= __key__ %]</a></h3>
[%set_var result value=__value__ %]
[%if $result.ok %]<span class="status_box color_ok">&nbsp;</span>ok
[%elsif $result.json_ok %]<span class="status_box color_json_ok">&nbsp;</span>json_ok
[%elsif $result.json_diff %]<span class="status_box color_json_diff">&nbsp;</span>json_diff
<pre>[%loop $result.got_json_lines %]<span
class="[%if expr="__index__ == $result.diff_line" %]diff_line[%/if %]">[%= _ %]</span>
[%/loop %]</pre>
[%elsif $result.error %]<span class="status_box color_error">&nbsp;</span>error <pre>[%= $result.msg %]</pre>
[%elsif $result.na %]<span class="status_box color_na">&nbsp;</span>n/a
<pre>[%= $result.got_data %]</pre>

[%elsif $result.diff %]<span class="status_box color_diff">&nbsp;</span>diff<br>

[%if $result.minimal_events %]
Minimal Events:
<pre>[%loop $result.minimal_events POST_CHOMP=0 %]
[%= _ %][%/loop %]</pre>
[%/if %]

[%if $result.transformed_events %]
Transformed Events:
<pre>[%loop $result.transformed_events POST_CHOMP=0 %]
[%= _ %][%/loop %]</pre>
[%/if %]

Got Events:
<pre>[%loop $result.got_events POST_CHOMP=0 %]<span
class="[%if expr="__index__ == $result.diff_line" %]diff_line[%/if %]">[%= _ %]</span>
[%/loop %]</pre>

[%else %]
<pre>[%= $result escape=dump|html %]</pre>
[%/if %]
</div>

[%/each .test.frameworks %]
</body>
</html>

