<!DOCTYPE html>
<html lang="en">
<head>
<title>#[%= .id %] - [%= .test.title %] - YAML Test Matrix</title>
<meta charset='utf-8'>
<link rel="stylesheet" type="text/css" href="../css/yaml.css">
<link rel="stylesheet" type="text/css" href="../css/matrix.css">
<link rel="icon" type="image/x-icon" href="http://www.yaml.io/favicon.ico">
</head>
<body>

<h1><a href="../index.html"><tt># YAML Test Matrix</tt></a></h1>
<h2><tt>--- <a
href="https://github.com/yaml/yaml-test-suite/blob/master/src/[%= main_id
%].yaml">&test-[%= id %]</a><br>
&nbsp;&nbsp;Title: [%= .test.title %]</br>
&nbsp;&nbsp;Tags: [ [%loop .test.tags join=", " %][%= _ %][%/loop %]
]</tt></h2>

<div class="framework" id="yaml"><h3><a href="#yaml">YAML</a></h3><pre>[%= .yaml %]</pre></div>
<div class="framework" id="events"><h3><a href="#events">Expected Events</a></h3><pre>[%= .events %]</pre></div>
<div class="framework" id="json"><h3><a href="#json">Expected JSON</a></h3>
<pre>[%loop .json_lines %][%= _ %]<br>[%/loop %]</pre>
</div>
<hr style="clear: both;">
[%loop .test.ordered_by_status %]
[%loop _ %]

[%set_var result value=results %]
<div class="framework framework_box_[%= $result.status %]" id="[%= framework %]">
<h3><a href="#[%= framework %]">[%= framework %]</a></h3>
<span class="status_box color_[%= $result.status %]">&nbsp;</span>[%= $result.status %]
[%if $result.ok %]
[%elsif $result.json_ok %]
[%elsif $result.json_diff %]
<pre>[%loop $result.got_json_lines %]<span
class="[%if expr="__index__ == $result.diff_line" %]diff_line[%/if %]">[%= _ %]</span>
[%/loop %]</pre>
[%elsif $result.ni %]<pre>[%= $result.msg %]</pre>
[%elsif $result.invalid_incorrect %]<pre>[%= $result.stderr %][%= $result.stdout %]</pre>
[%elsif $result.invalid_correct %]<pre>[%= $result.stderr %][%= $result.stdout %]</pre>
[%elsif $result.error %]<pre>[%= $result.msg %]</pre>
[%elsif $result.na %]
<pre>[%= $result.got_data %]</pre>

[%elsif $result.diff %]<br>

[%if $result.minimal_events %]
Minimal Events:
<pre>[%loop $result.minimal_events POST_CHOMP=0 %]
[%= _ %][%/loop %]</pre>
[%/if %]

[%if $result.transformed_events %]
Transformed Events:
<pre>[%loop $result.transformed_events POST_CHOMP=0 %]
[%= _ %][%/loop %]</pre>
[%/if %]

Got Events:
<pre>[%loop $result.got_events POST_CHOMP=0 %]<span
class="[%if expr="__index__ == $result.diff_line" %]diff_line[%/if %]">[%= _ %]</span>
[%/loop %]</pre>

[%else %]
<pre>[%= $result escape=dump|html %]</pre>
[%/if %]
</div>


[%/loop %]
[%if _# %]<hr style="clear: both;">[%/if %]
[%/loop %]


</body>
</html>

